.bookItem{
    border: 1px black solid;
    margin: 20px;
}

.bookDetails{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

img{
    text-align: center;
    margin: 0 auto;
    max-width: 200px;
    max-height: 200px;
}

@media screen and (min-width: 540px){
    .bookDetails{
        flex-direction: row;
    }

    .bookInfo{
        flex-grow: 2;
        margin: 20px;
    }



}